body {
  padding-top: 60px;
  background-color: #181a1b;
}

#start-play {
  position: relative;
  left: 45.9%;
  color: white;
}

.fa{
  margin-top: 24.3%;
}

.jumbotron{
  width: 100%;
  position:fixed;
  bottom:0%;
  margin: 0%;
  border-radius: 0rem;
  background-color: rgba(255, 255, 255,0.4);
}

.player-container {
  width: 66%;
  background-image: url("http://0.media.collegehumor.cvcdn.com/27/71/05fc6c034ee9c6c942a9b9fe8d1149b2.gif");
  background-position: center;
}

#sidebar {
  position:absolute;
  top: 22%;
  margin: 5px;
}

#track-change {
  position:absolute;
  top: 13%;
  margin: 5px;
}

#start-play {
  position:absolute;
  top: 38%;
  margin: 5px;
}

#guest-wrapper {
  position:fixed;
  top: 45%;
}

#slogan {
  position:absolute;
  top: 35%;
  text-align: center;
  color: rgba(255, 255, 255,0.4);
  font-family: 'Lobster', cursive;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

.alert {
  margin-bottom: 0px;
}

.btn-group-md {
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.333333;
  border-radius: .3rem;
  width: 100%;
  margin-bottom: 5px;
  left: 28px;
}

.btn-success {
  opacity: 1;
  transition: 1s;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn-default {
  color: #fff;
  opacity: 1;
  transition: 1s;
  background-color: #5cb85c;
  border-color: #5cb85c;
  width: 150px;
}

.btn-default:hover {
  opacity: 1.0;
  transition: 1s;
  color: #fff;
  background-color: #267326;
  border-color: #267326;
}

.btn-success:hover {
  opacity: 1.0;
  transition: 1s;
  background-color: #267326;
  border-color: #267326;
}

.song-name {
  color: #bfbfbf;
  position: fixed;
  left: 10%;
  top:91.5%;
}

#success {
  color: #bfbfbf;
  position: fixed;
  left: 22%;
  top:90%;
}

#music-queue {
  color: #bfbfbf;
  cursor: pointer;
}
