body {
  padding-top: 60px;
  background-color: black;
}

.container { 
  width: 100%;
  padding: 0;
}

.jumbotron{
  position:fixed;
  bottom:0%;
  margin-bottom: 0%;
  border-radius: 0rem;
  background-color: rgba(255, 255, 255,0.4);
}

.navid {
  max-width: 67%;
}

#slogan {
  position:absolute;
  top: 35%;
  text-align: center;
  color: rgba(255, 255, 255,0.4);
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

.alert {
  margin-bottom: 0px;
}

.btn-success {
  opacity: 1;
  transition: 1s;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn-default {
  color: #fff;
  opacity: 1;
  transition: 1s;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-default:hover {
  opacity: 1.0;
  transition: 1s;
  color: #fff;
  background-color: #267326;
  border-color: #267326;
}

.btn-success:hover {
  opacity: 1.0;
  transition: 1s;
  background-color: #267326;
  border-color: #267326;
}