<div class="form-group">
  <div class="input-group">
    <input type="text" class="form-control" id="addSong" name="song_url" placeholder="Enter Youtube url here...">
    <span id="add-song" class="input-group-btn"><button type="submit" class="btn btn-success">Add Song</button></span>
  </div>
</div>

<div>
  <div id="success"></div>
</div>
