<div class="form-inline">
	<div class="form-group">
		<input type="text" class="form-control" id="addSong" name="song_url" placeholder="Enter Youtube url here...">
		<button id="add-song" class="btn btn-primary">Add Song</button>
		<div id="success"></div>
	</div>
</div> 

