<!-- <div class="form-inline">
	<div class="form-group">
		<input type="text" class="form-control" id="addSong" name="song_url" placeholder="Enter Youtube url here...">
		<button id="add-song" class="btn btn-primary">Add Song</button>
		<div id="success"></div>
	</div>
</div> -->  <!-- Old style -->

<div class="form-group">  <!-- New style -->

  <div class="input-group">
    <input type="text" class="form-control" id="addSong" name="song_url" placeholder="Enter Youtube url here...">
    <span id="add-song" class="input-group-btn"><button type="submit" class="btn btn-default">Add Song</button></span>
  </div>
  
  <div id="success"></div>

</div>


<div>
	<ul id="playlist" >

	</ul>
</div>

