<div class="form-group">
  <div class="input-group">
    <input type="text" class="form-control" id="addSong" name="song_url" placeholder="Enter Youtube url here...">
    <span id="add-song" class="input-group-btn"><button type="submit" class="btn btn-default">Add Song</button></span>
  </div>
</div>

<div>
  <ul id="playlist" ></ul>
</div>

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <div id="success"></div>
</div>
