<% if session[:host] == @room.id %>

  <div id="player-index" class="row">

    <div class="song-name">
      <h3>Now Playing: <span id="song_name"></span></h3>
    </div>

    <!-- host player -->
    <div class="col-xs-12 col-md-8">
      <%= erb :'rooms/player' %>
    </div>

    <!-- host sidebar -->
      <div id="sidebar" class="col-xs-12 col-md-4">

      <!-- player controls -->
      <div id="player-controls" class="form-group">
        <div class="input-group control-wrapper">
          <div class="btn-group btn-group-md control-wrapper" role="group" aria-label="...">
            <button id="previous-song" class="btn btn-success"><i class="glyphicon glyphicon-fast-backward"></i></button>
            <button id="next-song" class="btn btn-success"><i class="glyphicon glyphicon-fast-forward"></i></button>
          </div>
        </div>
      </div>


      <!-- text friend button -->
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" id="addPhone" name="phone_number" placeholder="Enter 10 digit number...">
          <span id="text-friend" class="input-group-btn"><button type="submit" class="btn btn-success">Text Friend</button></span>
        </div>
      </div>

      <!-- song submit button -->
      <%= erb :'rooms/_song_submit' %>        

      <!-- playlist -->
      <div id="music-queue">
        <ul id="playlist" class="list-group"></ul>
      </div>
 
    </div>

  </div>

<% else %>

  <div class="row">
    <div id="guest-wrapper" class="container">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <%= erb :'rooms/_song_submit' %>
      </div>
    </div>
  </div>

<% end %>

