<% if session[:host] == @room.id %>

	<%= erb :'rooms/player' %>

  <div id="sidebar" class="container">
    <div class="col-lg-4 col-lg-offset-8 col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-8">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="addPhone" name="phone_number" placeholder="Enter 10 digit number...">
          <button id="text-friend" class="btn btn-primary">Text Friend</button>
        <div id="success"></div>
      </div>
    </div> 
      <%= erb :'rooms/_song_submit' %>
    </div> 
  </div>

  <h3>Now Playing: <span id="song_name">-</span></h3>

<% else %>

  <div id="guest-wrapper" class="container">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 ">
    	<%= erb :'rooms/_song_submit' %>
    </div>
  </div>

<% end %>
