<%= erb :navbar %>

<% if session[:host] == @room.id %>
	<%= erb :'rooms/player' %>
	<%= erb :'rooms/_song_submit' %>
  <h3 id="song_name"> Song Title Unavailable</h3>
<% else %>
	<%= erb :'rooms/_song_submit' %>
<% end %>



