<div class="player-container">
  <div class="embed-responsive embed-responsive-16by9">
  		<div id="player"></div>
  </div>
</div>

<div class="form-inline">
	<div class="form-group">
		<button id="start-play" class="btn btn-success">Start Playlist</button>
    <button id="next-song" class="btn btn-default">Next Song</button>
    <button id="previous-song" class="btn btn-default">Previous Song</button>
	</div>
</div> 
