<div class="player-container">
  <div class="embed-responsive embed-responsive-16by9">
      <div id="player"></div>
<a href="#" id="start-play"><i class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i></a>
  </div>
</div>


