<%= erb :navbar %>

<!-- <div align="center" class="embed-responsive embed-responsive-16by9">

    <video autoplay loop class="embed-responsive-item">
        <source src="/media/342466858.mp4" type="video/mp4">
    </video>

</div> -->


<div class='jumbotron'>
	<form class="form-inline" method="post" action="/rooms">
		<% if @room.errors.any? %>
			<ul>
				<% @room.errors.full_messages do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>

		<div class="form-group">
			<input type="text" class="form-control" id="createRoom" name="room_name" placeholder="Enter room name here...">
			<button type="submit" class="btn btn-primary">Create Room</button>
		</div>
	</form>

	
</div>