<div align="center" class="embed-responsive embed-responsive-16by9">
	
  <video id="video" autoplay loop class="embed-responsive-item">
      <source src="/media/342466858.mp4" type="video/mp4">
  </video>

	<div class="jumbotron">
		<div class="container-fluid">
		  <div class="row">
			  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-5 col-sm-offset-3 col-xs-10 col-xs-offset-1">

				  <% if @room.errors.any? %>
						<div class="alert alert-danger alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						    <div>Room not found</div>
					  </div>
				  <% end %>

				  <form method="post" action="/rooms">
				    <div class ="join-group">
				      <button type="submit" class="btn btn-success btn-lg">Create Room</button>
				    </div>
				  </form>

				  <form method="get" action="/rooms/join">
				  	<div class="input-group">
				      <input type="text" class="form-control" name="room_number" placeholder="Room number...">
						  <span class="input-group-btn">
					      <button type="submit" class="btn btn-success">Join Room</button>
				      </span>
					  </div>
				  </form>

			  </div>
			</div>
		</div>
	</div>

</div>

<div id="slogan" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-5 col-sm-offset-3 col-xs-10 col-xs-offset-1"><h1>Welcome to JukeTube</h1></div>


