<div class="container">
<%= erb :navbar %>
	<div align="center">
	    <video id="video" autoplay loop class="embed-responsive-item">
	        <source src="/media/342466858.mp4" type="video/mp4">
	    </video>
	</div>

	<div class="jumbotron">
		
		<% if @room.errors.any? %>
			<div>Room not found</div>
		<% end %>

		<form class="form-inline" method="post" action="/rooms">
			<div class ="join-group">
				<button type="submit" class="btn btn-success btn-lg">Create Room</button>
			</div>
		</form>

		<form method="get" action="/rooms/join">
			<div class="form-group">
				<input type="text" class="form-control" id="joinRoom" name="room_number" placeholder="Enter room number here...">
				<button type="submit" class="btn btn-success btn-lg">Join Room</button>
			</div>
		</form>
		
	</div>
</div>