<video id="video" autoplay loop class="video-background">
		<source src="/media/342466858.mp4" type="video/mp4">
</video>

<div class="container-fluid">
	<div id="slogan" class="text-center"><h1>Welcome to JukeTube</h1></div>

  <% if @room.errors.any? %>
		<div class="alert alert-danger alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <div>Room not found</div>
	  </div>
  <% end %>

	<div class="row welcome-form">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
			<section class="row spacer">
				<div class="col-xs-12 text-center">
				  <form method="post" action="/rooms">
				    <div class ="join-group">
				      <button type="submit" class="btn btn-success btn-lg">Create Room</button>
				    </div>
				  </form>
				</div>
			</section>

			<section class="row">
				<div class="col-xs-12">
				  <form method="get" action="/rooms/join">
				  	<div class="input-group">
				      <input type="text" class="form-control" name="room_number" placeholder="Room number...">
						  <span class="input-group-btn">
					      <button type="submit" class="btn btn-success">Join Room</button>
				      </span>
					  </div>
				  </form>
				</div>
			</section>
		</div>
	</div>
</div>
