<nav class="navbar navbar-inverse navbar-fixed-top">
	<div>
		<div class="navbar-header">
			<p class="navbar-brand">JukeTube</p>
		</div>
   <!--  <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/b-silva/jukebox"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="#"></a></li>
    </ul> -->
	</div>
</nav>

